@import "tailwindcss";

.btn:hover {
 border: white 2px solid;

}

input:hover {
  border: white 2px solid;
}

input {
  caret-color: auto;
}


@media only screen and (max-width: 600px){
  .cantainer {
    width: 400px;
  }

  .inputbox {
    width: 200px;
    height: 40px;
  }
}